@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #A02334;
    --cor-quartenaria: #FF0000;

    --font-principal: "Krona One", sans-serif;
    --font-secundario: "Montserrat", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    margin: 0px;
}
.cabecalho{
    padding: 5% 0% 0% 6%;
}
.cabecalho__menu{ 
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link {
    font-family: var(--font-secundario);
    font-family: 24px;
    font-weight: 600;
    color:var(--cor-terciaria);
    text-decoration: none;
}
.titulo-destaque { 
    color:var(--cor-quartenaria);
}
.apresentacao {
    padding: 5% 15%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap: 82px;
}
.apresentacao_1{
    padding: 5% 10%;
    display:flex;
    align-items:center;
    justify-content:space-between;  
    gap: 80px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo_1{
    width: 100%;
    display: flex;
    flex-direction: column;
    shape-outside: border-box;
    align-items: center;
    gap: 30px;
}
.apresentacao__conteudo__titulo{
    font-size: 24px;
    font-family: "Krona One", sans-serif;
}
.apresentacao__conteudo__titulo__1{
    font-size: 24px;
    font-family: "Krona One", sans-serif;
}
.apresentacao__conteudo__texto{
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
}
.apresentacao__conteudo__texto_1{
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    /*border: 2px solid rgb(77, 224, 230)*/ 
    row-gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 300 ;
    padding: 16px 0; 
    gap: 6px;
    text-decoration: none;
    color:white;
    font-family: "Montserrat", sans-serif;
    flex-direction: row;
    align-content: center;
    align-items: center;   
    padding: 30px;
}
.apresentacao__links__subtitulo{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size:24px;
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
.apresentacao__links__link{
    /*background-color: #22d4fd;*/
    display: flex;
    justify-content: center;
    border: 2px solid var(--cor-terciaria);  
    row-gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 300 ;
    padding: 16px 0; 
    gap: 16px;
    text-decoration: none;
    color:var(--cor-secundaria);
    font-family: "Montserrat", sans-serif;
    flex-direction: row;
    align-content: center;
    align-items: center;   
}
.apresentacao__links__link:hover {
    background-color: rgb(107, 98, 98);
}
.rodape {
    padding: 20px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 300;
}
.apresentacao__imagem {width: 500px;}
.apresentacao_1 img {width: 500px;}

@media(max-width: 1200px) {
    .cabecalho{
        padding: 10%;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao { 
        flex-direction: column-reverse; 
        padding: 5%;
    }
}
.apresentacao__conteudo{
    width: auto;
}
.cabecalho__menu__link{
    justify-content: center;
    padding: 5%;
}
.apresentacao_1{
    flex-direction: column-reverse; 
        padding: 5%;
}
.apresentacao__conteudo_1{
    width: auto;
}